#menu{
	list-style-type: none;	
	color: white;
	margin: 0;
    padding: 0;

}

header {
	 text-align: center;
	  font-size: 15pt;
	   font-family: Verdana, sans-serif;
	  font-style: italic;
	  color: white;
	  background-image: url(../images/park_night.jpg);
}

ul[id="menu"]>li{
	display: inline-block;	
	font-family: Verdana, sans-serif;	
	background-color: rgb(198,159,140);
	border: 4px solid gray;
    border-radius: 5px;
    padding:5px;
    margin:3px;

}

ul[id="menu"]>li:hover{
	background-color: 	#f6f2df;	
}

ul[id="menu"]>li:active{	
	font-style:bold;
	background-color: gray;
}

a:visited{
	text-decoration: none;
}

.imagen{
	width: 250px;
	height: 180px;
	margin: 10px;
    box-shadow: 5px 10px #888888;
}

img[alt="user_logo"]:hover{
	opacity: 0.5;
}

#img_text {
	display: flex;
}

#calendar_table {
	display: flex;
}

#lorem {
	text-align: justify;
}

#sri, #telefonia_movil, #telefonia_fija, #cable, #pensiones_alimenticias{
	display: none;
}

li[value="sri"]:hover + #sri{
	display: block !important;

table.paleBlueRows {
	font-family: "Times New Roman", Times, serif;
	border: 1px solid #FFFFFF;
	width: 350px;
	height: 200px;
	text-align: center;
	border-collapse: collapse;
}

table.paleBlueRows td, table.paleBlueRows th {
	border: 1px solid black;
	padding: 3px 2px;
}

table.paleBlueRows tbody td {
	font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
	background: #d4d4d4;
}

table.paleBlueRows thead {
	background: #aaa;
}

table.paleBlueRows thead th {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}




