

#menu{
	list-style-type: none;	
	color: white;
	margin: 0;
    padding: 0;

}

nav{
	text-align: center;
}
header {
	 text-align: center;
	  font-size: 15pt;
	   font-family: Verdana, sans-serif;
	  font-style: italic;
	  color: white;
	  background-image: url(../images/park_night.jpg);
}

#main{
	margin-top: 20px;
}


#footer{
	margin: 2%;
	border: 2px solid black;
	padding: 5px;
}

ul[id="menu"]>li{
	display: inline-block;	
	font-family: Verdana, sans-serif;	
	background-color: rgb(198,159,140);
	border: 4px solid gray;
    border-radius: 5px;
    padding:5px;
    margin:3px;

}

ul[id="menu"]>li:hover{
	background-color: 	#f6f2df;	
}

ul[id="menu"]>li:active{	
	font-style:bold;
	background-color: gray;
}

a:visited{
	text-decoration: none;
}

table.paleBlueRows {
	font-family: "Times New Roman", Times, serif;
	border: 1px solid #FFFFFF;
	width: 350px;
	height: 200px;
	text-align: center;
	border-collapse: collapse;
}

h2{
	text-decoration: underline;
	font-size: 18px;
}
table.paleBlueRows td, table.paleBlueRows th {
	border: 1px solid black;
	padding: 3px 2px;
}

table.paleBlueRows tbody td {
	font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
	background: #d4d4d4;
}

table.paleBlueRows thead {
	background: #aaa;
}

table.paleBlueRows thead th {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}

img[alt="foter"]{
	width: 170px;
	height: 100px;
}
.imagen{
	width: 95%;
	height: auto;
	margin: 10px;
    box-shadow: 5px 10px #888888;
}

img[alt="user_logo"]:hover{
	opacity: 0.5;
}


#lorem {
	text-align: justify;
	margin-top: 15px;
}

.centered{
	text-align: center;
}

.flexed{
	display: flex;
    justify-content: center;
}

/* Tooltip container */
.tooltip_serviciosreg {
    position: relative;
    display: block;
  
}

/* Tooltip text */
.tooltip_serviciosreg .tooltiptext_serviciosreg {
    top: -5px;
    left: 30%; 

    visibility: hidden;
    width: 200px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_serviciosreg:hover .tooltiptext_serviciosreg {
    visibility: visible;
}