.titulo{
  font-size: 30px;
  text-transform: uppercase;

}

.subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  font-size: 20px;
  text-transform: uppercase;
}

#login{
	margin-top:100px;
	margin-bottom:100px;
	width:350px;
}

#signup{
	margin-top:100px;
	margin-bottom:100px;
	width:350px;
}

#integrantes{
	margin-top:100px;
}

footer{	
	display:flex;
	justify-content:center;
	background-color:black;
	margin-top:15px;
	margin-bottom:0px;
	padding:10px;
	color:gray;
}