.titulo{
  font-size: 30px;
  text-transform: uppercase;

}

.subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  font-size: 20px;
  text-transform: uppercase;
}


#integrantes_block , #signup_form, #login_form{	
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
	/*line for debugging*/
	/*border:1px red solid;	*/
	flex-grow:1; /*important to push the footer at the bottom*/
}


body.quienes_somos , body.login, body.signup{	
	height:100vh;/*important to push the footer at the bottom*/
	display:flex;
	flex-direction:column;	
}


footer{
	display:flex;
	justify-content:center;	
	background-color:black;
	margin-top:15px;
	padding:10px;
	color:gray;
}