 #main_button{
	font-family: 'Courgette', cursive;/* style for index main title */
}
#main_tittle{		
	font-family: 'PT Sans', sans-serif;/*style for menu bar, footer and */	
	text-transform:capitalize;
}

*{
	font-family: 'PT Sans', sans-serif;/*style for menu bar, footer and */	
}
.titulo{
  font-size: 50px;  
  text-transform: uppercase;
  color: #812f35;
}

.subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  margin-top: 4%;
  font-size: 20px;
  text-transform: uppercase;
}


#integrantes_block , #signup_form, #login_form, #images_search{	
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
	
	/*border:1px red solid; *//*line for debugging*/
	
	flex-grow:1;/*important to push the footer at the bottom*/
}

#integrantes_block {
	align-items: flex-start; /*overwrite the css to #integrantes_block */
}

body.quienes_somos , body.login, body.signup, body.search{		
	height:100vh;/*important to push the footer at the bottom*/
	display:flex;
	
	flex-direction:column;	
}

/*
	a div where images will be put
*/
body .personajes_found_section{
	display:block;
	/*height:25vh;*//*to move the search box upside*/
}

/*
	div with info of personajes
*/

.div_personaje{
	display:flex;
}

/*
	the only div inside of .div_personaje is the div with info
*/
.div_personaje .div_personaje_info{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

/*
	Style for the images that will appear
*/
body .personajes_found_section img{	
	border-radius:5px;
	margin:10px;
	height:40vh;
	width:40vh;
}


footer{
	display:flex;
	justify-content:center;	
	background-color:black;	
	padding:10px;
	color:gray;
}


/**************************
	Style for google map
**************************/
#map{		
	/*width and height neccesary to show the map*/
	width:50vh;
	height:50vh;
	border: 1px solid black;
}	

/*******************************
	Style for TheaterJS snippet
********************************/
#jarbis{	
	border: 1px solid gray;
	border-radius: 3px;
	font-family:"Courier new", "Lucida Console", monospace;
	margin:5px;
	padding:5px;
}

#jarbis::after{
	content:"|";
	animation: blink 500ms infinite;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*************************
	Style for timeline
**************************/

/*
	adapted from: https://codepen.io/darcyvoutt/pen/ogPrpK
*/

/* Import */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
/* Variables */
/* Base */

#timeline{
  margin-top: 4%;
}
strong {
  font-weight: 600;
}
h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 100;
  font-size: 2.4em;
}
#timeline_container {
  background: #252827;
  margin-top: 50px; 
  text-align: center;
  padding: 1%;
}
/* Timeline */
.timeline {
  border-left: 4px solid gray;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;/*don't touch*/
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px gray;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/****************
	Style for searching	
*****************/

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}