#img-banner{
	height: 100vh;
	width: 100%;
}

#map{
	width:400px;
	height:100%;
}

.container{
	margin-top: 6%;
}

#container_maps{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#home-banner{
	position: relative;
	text-align: center;
    color: white;
}

.centered{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.top-centered{
	position: absolute;
	left: 50%;
    top: 100px;
}

div[class=centered]>h1{
	font-size: 55px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div[class=centered]>p{
	margin-top: 2%;
	font-size: 20px;
}

.btn-home{
	border-radius: 30px;
	margin-top: 2%;
	background-color: white;
	color: black;
	font-size: 15px;
}


.btn-home:hover{
	background: #00000082;
    color: white;
}

.div-img{
	text-align: center;
	height: 500px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.div-icon{
	text-align: center;
}

.div-img:hover{
	transition: 0.5s;
	box-shadow: 5px 5px 0px 0px #888888;
}

.inner{
	width: 100%;
	height: 100%;
	background: #00000024;
	padding: 5%;
}

.p-div-image{
	margin-top: 10%;
	font-size: 20px;
	padding: 3%;
	text-align: justify;
}
img[alt="img_hacemos"]{
	width: 298px;
	min-height: 160px;
	height: auto;
	margin-top: 5%;
}

img[alt="img_hacemos"]:hover{
	opacity: 0.4;
}

div[class*="div-icon"]>p{
	font-size: 20px;
}

.icon-fa{
	 font-size:10em; 
	 color: #812f35;
	 border: 2px solid #812f35;
	 padding-left: 4%;
     padding-right: 4%;
     border-radius: 20px;
}

.icon-fa:hover{
	color: white;
	border: none;
	background: #812f35;
	transition: 0.7s;
}

@media (max-width: 991px) {
  .inner{
  	width: 90%;
  	height: 90%;

  }
}